a:hover{color: rgb(187, 111, 176)}
h1{
  font-family:cursive;
  font-size: 150px;
  color: white;
  text-align: center;
} 
body {
  font-family: cursive;
  background-color: rgb(160, 238, 227);
  color: rgb(32, 58, 55);
  font-size: 50px;
}
